<template>
  <h1>Desgastes Estrategia</h1>

  <div class="container-fluid">
    <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" en>
    <br>

    <h1>{{ circuitoSeleccionado }} - {{ distanciaSeleccionada }} - {{categoriaSeleccionada }}</h1>

    <br>

    <div class="container">
      <div class="row">
        <div class="col 4">
          <select v-model="circuitoSeleccionado" class="form-select">
            <option disabled selected>Selecciona circuito</option>
            <option v-for="(cir) in circuitos" :key="cir.id">{{ cir.pais }}</option>
          </select>
        </div>
        <div class="col 4">
          <select v-model="distanciaSeleccionada" class="form-select">
            <option disabled selected>Distancia/Velocidad</option>
            <option value="100%">100%</option>
            <option value="75%">75%</option>
            <option value="50%">50%</option>
            <option value="25%">25%</option>
          </select>
        </div>
        <div class="col 4">
          <select v-model="categoriaSeleccionada" class="form-select">
            <option disabled selected>Categoria</option>
            <option value="1">Novato</option>
            <option value="2">Profesional</option>
            <option value="3">Elite</option>

            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Vueltas" disabled>
          </select>
        </div>
      </div>
    </div>










    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col ">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01"> <img alt="Vue logo"
                src="https://static.igpmanager.com/igp/design/image/tyre-ss.png" height="25"></label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>%</option>
              <option value="1">1%</option>
              <option value="2">2%</option>
              <option value="3">3%</option>
              <option value="4">4%</option>
              <option value="5">5%</option>
              <option value="6">6%</option>
              <option value="7">7%</option>
              <option value="8">8%</option>
              <option value="9">9%</option>
              <option value="10">10%</option>
              <option value="11">11%</option>
              <option value="12">12%</option>
              <option value="13">13%</option>
              <option value="14">14%</option>
              <option value="15">15%</option>
              <option value="16">16%</option>
              <option value="17">17%</option>
              <option value="18">18%</option>
              <option value="19">19%</option>
              <option value="20">20%</option>
              <option value="21">21%</option>
              <option value="22">22%</option>
              <option value="23">23%</option>
              <option value="24">24%</option>
              <option value="25">25%</option>
              <option value="26">26%</option>
              <option value="27">27%</option>
              <option value="28">28%</option>
              <option value="29">29%</option>
              <option value="30">30%</option>
            </select>
          </div>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping"><span class="material-icons">
                local_gas_station
              </span></span>
            <input type="text" class="form-control" placeholder="gasolina" aria-label="Username"
              aria-describedby="addon-wrapping">
          </div>
        </div>

        <div class="col ">S</div>
        <div class="col ">col</div>
        <div class="col">col</div>
        <div class="col">col</div>
        <div class="col">col</div>
      </div>
    </div>
    <br>
    <br>




    <div class="card text-center">
      <div class="card-header">
        Configuración de estrategia
      </div>
      <div class="card-body">
        <tarjeta-neumatico />
        <tarjeta-neumatico />

      </div>
      <div class="card-footer text-muted">
        Final de tarjeta de configuración - Total de combustible
      </div>
    </div>


  </div>
</template>

<script>
const version = 0.4;
const circuitos = [
  { "id": 1, "pais": "Abu Dhabi", "100por": 50, "75por": 37, "50por": 25, "25por": 12 },
  { "id": 2, "pais": "Alemania", "100por": 67, "75por": 50, "50por": 33, "25por": 16 },
  { "id": 3, "pais": "Australia", "100por": 57, "75por": 42, "50por": 28, "25por": 14 },
  { "id": 4, "pais": "Austria", "100por": 68, "75por": 51, "50por": 34, "25por": 17 },
  { "id": 5, "pais": "Azerbaiyán", "100por": 46, "75por": 34, "50por": 23, "25por": 11 },
  { "id": 6, "pais": "Baréin", "100por": 59, "75por": 44, "50por": 29, "25por": 14 },
  { "id": 7, "pais": "Bélgica", "100por": 43, "75por": 32, "50por": 21, "25por": 10 },
  { "id": 8, "pais": "Brasil", "100por": 69, "75por": 51, "50por": 34, "25por": 17 },
  { "id": 9, "pais": "Canadá", "100por": 63, "75por": 47, "50por": 31, "25por": 15 },
  { "id": 10, "pais": "China", "100por": 55, "75por": 41, "50por": 27, "25por": 13 },
  { "id": 11, "pais": "España", "100por": 62, "75por": 46, "50por": 31, "25por": 15 },
  { "id": 12, "pais": "Estados Unidos", "100por": 60, "75por": 45, "50por": 30, "25por": 15 },
  { "id": 13, "pais": "Europa", "100por": 50, "75por": 37, "50por": 25, "25por": 12 },
  { "id": 14, "pais": "Francia", "100por": 48, "75por": 36, "50por": 24, "25por": 12 },
  { "id": 15, "pais": "Gran Bretaña", "100por": 48, "75por": 36, "50por": 24, "25por": 12 },
  { "id": 16, "pais": "Hungría", "100por": 79, "75por": 59, "50por": 39, "25por": 19 },
  { "id": 17, "pais": "Italia", "100por": 51, "75por": 38, "50por": 25, "25por": 12 },
  { "id": 18, "pais": "Japón", "100por": 55, "75por": 41, "50por": 27, "25por": 13 },
  { "id": 19, "pais": "Malasia", "100por": 55, "75por": 41, "50por": 27, "25por": 13 },
  { "id": 20, "pais": "México", "100por": 70, "75por": 52, "50por": 35, "25por": 17 },
  { "id": 21, "pais": "Mónaco", "100por": 59, "75por": 44, "50por": 29, "25por": 14 },
  { "id": 22, "pais": "Rusia", "100por": 46, "75por": 34, "50por": 23, "25por": 11 },
  { "id": 23, "pais": "Singapur", "100por": 60, "75por": 45, "50por": 30, "25por": 15 },
  { "id": 24, "pais": "Turquía", "100por": 54, "75por": 40, "50por": 27, "25por": 13 },
];



import TarjetaNeumatico from '@/components/TarjetaNeumatico.vue'
export default {
  components: { TarjetaNeumatico },
  data() {

    return {
      categoriaSeleccionada: '',
      circuitoSeleccionado: '',
      distanciaSeleccionada: '',
      circuitos,
      version
    };

  }

}
</script>

<style></style>