<template>
<table class="table">
  <thead>
    <tr>
      <th scope="col">NEUMATICO</th>
      <th scope="col">VUELTA</th>
      <th scope="col">NEUMATICO (%)</th>
      <th scope="col">COMBUSTIBLE (L)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">  <img src="https://static.igpmanager.com/igp/design/image/tyre-s.png" alt="imagen de neumatico" height="30"></th>
      <td>COMIENZO</td>
      <td>85,23%</td>
      <td>2,3</td>
    </tr>
    <tr>
        <th scope="row">  <img src="https://static.igpmanager.com/igp/design/image/tyre-s.png" alt="imagen de neumatico" height="30"></th>
        <td>1</td>
      <td>80,23</td>
      <td>4,3</td>
      
      
    </tr>
  
  </tbody>
</table>





</template>

<script>
export default {

}
</script>

<style>

</style>