<template>
  <barra-menu/>
  <router-view/>
  <pie-pagina/>
 
</template>

<script >
import BarraMenu from "@/components/BarraMenu.vue"
import PiePagina from "./components/PiePagina.vue";
import TarjetaNeumaticoVue from "@/components/TarjetaNeumatico.vue"


export default {
  name: "App",
  components: {
    BarraMenu,
    PiePagina,
    TarjetaNeumaticoVue
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center; 
  color: #2c3e50;
}
</style>
